*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
   height: 100%;
}
.container{
    max-width: 70vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.header_container{
    margin-bottom: 1rem;
}
.header_title{
    margin-bottom: 1rem;
    text-align: center;
}
.header_description{
    max-width: 550px;
      text-align: center;
      margin: 0 auto;
}
.main_container{
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    /* grid-template-columns: repeat(1,1fr); */
    /* grid-template-rows: repeat(3,1fr); */
    /* border: 2px solid black; */
}
/* @media (min-width:650px){
    .main_container{
          grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:1080px){
    .main_container{
          grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1350px){
    .main_container{
          grid-template-columns: repeat(4, 1fr);
    }
} */
.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 5px;
    margin: 1rem;
    
}
.card_image_container{
    position: relative;
    height: 10rem;
}
.card_image{
   object-fit: cover;
   object-position: center;
   position: absolute;
   height: 100%;
   width: 100%;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    /* line-height: 1.5rem; */
    margin-bottom: 5px;
}
.card_title_anchor:hover .card_title{
    color: rgb(29, 29, 142);
}
.card_description{
    color: rgb(73, 72, 72);
    font-size: 15px;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 1rem;
}
.author_container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.author_image_container{
    height: 2rem;
    width: 1.5rem;
    overflow: hidden;
       background-color: rgb(234, 234, 234);
    border: 1px solid grey;
    border-radius : 50%;
    /* margin-left: 15px; */

}
.author_info_container{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}
.author_info_container :nth-child(1){
    color: rgb(74, 74, 181);
}
.author_info_container :nth-child(2){
    color: rgb(69, 69, 69);
}
.card_tag_container{
    font-size: 0.8rem;
    /* margin-right: 15px; */
    padding: 0.25rem 0.25rem;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 2px;
    color: rgb(85, 85, 85);

}